.projectsTitle {
  font-family: "Bebas Neue";
  font-size: 40px;
  color: white;
  margin: 0;
  padding: 0;
}

.projectsSubtitle {
  font-family: "Manrope";
  font-size: 14px;
  color: var(--text-color-grey);
  margin-bottom: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 0;
}

@media(max-width: 500px) {
  .projectsWrapper {
    padding-bottom: 80px;
  }
  
  .projectsTitle {
    font-size: 35px;
  }
}