.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.input {
  height: 51px;
  width: 100%;
  background-color: #1A1A1A;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

.label {
  font-size: 16px;
  font-family: 'Manrope';
  color: var(--text-color-grey);
}

.error {
  border-bottom: 1px solid #a50909;
}

.error-message {
  font-size: 14px;
  font-family: 'Manrope';
  align-self: flex-end;
  color: red;
  visibility: hidden;
}

.visible {
  visibility: visible;
}