.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-family: "Manrope";
  font-weight: 400;
}

.cardImage {
  flex: 1;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1;
  background-color: #1A1A1A;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  flex-shrink: 1;
  flex-basis: 50%;
}

.title {
  background-color: #0a0a0a;
  border-radius: 15px;
  color: white;
  align-self: flex-start;
  padding: 10px 15px;
  font-size: 14px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 4/3;
  object-fit: cover;
  align-self: center;
}

.cardDescription {
  flex-shrink: 1;
  min-width: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.descriptionTitle {
  font-size: 32px;
  color: white;
  margin: 0;
}

.descriptionDetails {
  font-size: clamp(14px,1.25vw,18px);
  color: #C7C7C7;
}

.projectInfo {
  color: var(--text-color-grey);
  margin: 0;
  padding: 0 0 20px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--accent-color);
}

.link:hover {
  color: #b5d243;
  border-bottom: 1px solid #b5d243;
}

.arrow {
  width: 24px;
  height: 24px;
}

.github {
  width: 24px;
  height: 24px;
}

.stackItem {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.stackIcon {
  width: 24px;
  height: 24px;
}

@media(max-width: 1200px) {
  .cardImage {
    flex-basis: 60%;
  }

  .cardDescription {
    flex-basis: 40%;
  }
}

@media(max-width: 1050px) {
  .card {
    flex-direction: column;
  }

  .projectInfo {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projectInfo p {
    display: none;
  }
}

@media(max-width: 500px) {
  .cardImage {
    padding: 20px;
  }
}