.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-submit {
  background-color: var(--accent-color);
  border-radius: 25px;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  align-self: start;
}

.btn-submit:hover {
  background-color: #b5d243;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.3);
}

.btn-submit:active {
  background-color: #cfe576;
}

.error {
  color: red;
}